<div class="secciones"><button class="seccion">Artículos</button>
<button class="seccion">Novedades</button></div>

<div class="secciones"><button class="seccion"> <a class="salir" href="login/logout">Salir <i class="fa-solid fa-arrow-right-from-bracket"></i></a> </button></div>