 <div class="opinion">
<h2>La microficción-

Touch, comprimido y algo más. 

De mi experiencia </h2>

 

<p>La microficción es una de las experiencias de la brevedad: un macromundo contenido en pocas palabras. </p>

<p>
Cuando escribo y leo textos breves hay una primera reacción que se siente como impacto. Emoción, sorpresa, desconcierto, sonrisa, carcajada, incertidumbre, son algunas de las impresiones que he experimentado y que registro también en quienes leen o escuchan una micro. </p>

<p>
He sentido cuando escribo que estoy gestando poesía o microficción, formas breves que se generan como diferentes pero con un límite difuso. Muchas de mis microficciones provienen de la poesía o han sido antes cuentos extensos de los que tomé el concepto, la síntesis. Otras nacieron como microficciones. </p>
<p>

Las que provienen de la poesía no se “sentían” como poesía, necesitaban ser prosificadas, tituladas, contaban una historia breve o la sugerían más a modo de relato que de imagen poética. 
</p>
<p>
Las que nacieron como cuentos extensos no toleraban la extensión, pedían brevedad para poder comunicar desde una estética diferente. </p>

<p>
Cada microficción contiene un macromundo que no se queda en el primer impacto: la presentación de la microficción define el primer momento de encuentro entre 

texto y lector y permite, si quisiéramos, distintas lecturas después de este primer impacto. </p>
<p>
Lo breve no impide lo profundo. 
</p>
<p>
Lo vertiginoso no evita la lentitud con la que podemos ponernos a saborear diversos sentidos de un solo texto. 
</p>
<p>
El macromundo lleno de aristas y perspicacias cabe dentro de un breve texto, que sugiere o cuenta una historia y que se registra como narrativo aun cuando los límites con la poesía están en un borde sutil. 
</p>
<p>
Escribo poesía y siento que estoy creando poesía, que vibro poesía. 
</p>
<p>
Escribo microficción y estoy jugando, contando, provocando la reacción del que escucha o lee o abriendo un diálogo con un clima diferente al que genera la conexión con la poesía. 
</p>
<p>
Humor, ironía, absurdo, presentación de personas y personajes tal como son o somos en distintos contextos, en un renglón, en pocas líneas, en una carilla. 
</p>
<p>
La brevedad nos remite a la captación del instante y tiene la posibilidad de poner por unos segundos el mundo en nuestras manos. 
</p>
<p>
Cuando leo microficción tengo la certeza de la primera impresión y puedo después releer, reescuchar cuantas veces necesite hacerlo hasta involucrarme en la pluralidad de significados presentados en un touch, en un comprimido. 
</p>
<p>
Yo “siento” a modo de poesía o microficción y se trata siempre de un instante que define, de una percepción que se impone como tal, aunque después venga lo que viene después: la corrección, quitar, dejar, modificar, agregar, dar tiempo y volver a leer y escribir hasta que digo “ya está.” 
</p>
<p>
Volver sobre una brevedad después de la primera reacción, de la primera lectura, no quita nada de lo recibido como impresión inicial y permite agregar nuevos sentidos. 
</p>
<p>
En una de mis microficciones digo: 
“Cuestión de géneros” : De todos los géneros el más importante es el generoso. 
</p>
<p>
Touch. Comprimido, foto o algo más, no he definido más que mi experiencia personal. Simplemente experimentando. </p>
<p>

Mis micros tienen que ver con una vivencia, emociones, sueños de los que se sueñan dormida y también de los que se sueñan despierta, ganas de jugar con las palabras, ironía, inversión de términos de la realidad, intertextualidad, absurdo, humor. </p>
<p>
Un toquecito. Un “digo esto y me callo”.  
</p>
<p>
En una de mis microficciones defino la incomunicación: 
“Hablamos. Siempre hablamos.Y lo que callamos sigue allí bajo el peso del silencio.” 
La microficción dice también al no decir. Dice con lo que dice pero su brevedad implica un decir lo que no se dice. 
</p>
<p>

 Una sugerencia. 
</p>
<p>
 Una lectura entrelíneas. 
</p>
 <p class="firma">

Marylena Cambarieri 
</p>
</div>