 <div class="formulario">
            <div class="imput">
                <h2>Contacto</h2>
                <form action="">
                    <p> <label for="nom">Nombre</label>
                        <input type="text" id="nom" name="nombre" required>
                    </p>
                    <p>
                        <label for="">E-mail</label>
                        <input type="email">
                    </p>
                    <p><label for="">Teléfono</label>
                        <input type="text">
                    </p>
                    <p>
                        <label for="">Mensaje</label>
                        <textarea name="" id=""></textarea>
                    </p>
                    <p>
                        <input type="submit" value="Enviar">
                    </p>
                </form>
            </div>
            <div class="medios">
                <div>
                    <h2>Otros medios de contacto</h2>

                    <p>También pueden comunicarse a mi email o seguirme en mis redes sociales: </p>
                    <ul>
                        <li>cambarierimarylena@gmail.com</li>
                        <li class="redes">
                            <a href="https://www.facebook.com/marylena.cambarieri.14 ">Facebook</a>
                        </li>
                        <li class="redes">
                            <a href="https://www.instagram.com/marylenacambarieri/">Instagram</a>
                        </li>
                    </ul>
                </div>
                
            </div>
           
        </div>