 <div class="sinopsis">
            <img src="images/fragmentosdelangel.jpg" alt="angel">
        <div class="descripcion">
           
            <h2>Fragmentos del ángel</h2>
             <p>Mi primer libro de poesía es parte de mi corazón y de mis entrañas.

                Es la percepción de un mundo que puede ser doloroso y a la vez luminoso.
                
                “El costado oscuro disimulado por el ángel” es una síntesis de lo que somos como personas sensitivas, complejas, luminosas, intimistas, llenas de sombras y a la vez simples al momento de nuestra intimidad y de todo los que nos hace humanos, sensibles.
                
                Apuesta a la vida, la muerte y el renacimiento simbólico.
                
                Es un encuentro con el otro y la naturaleza, la aceptación de nuestra realidad, sensaciones, experiencias, sueños.</p>
                <p>Encontralo en la siguientes librerias:
                    <ul>
                        <li> <a href="https://www.facebook.com/quijotelibros.almacenliterario/?ref=page_internal" target="_blank">Quijote Libros Almacen Literario - Buenos Aires 483 (Viedma, Río Negro)</a>
                            </li>
                    <li> <a href="https://www.facebook.com/El-Limonero-Real-169904789792649/" target="_blank">El limonero real - Alsina 401 (Viedma, Río Negro)</a> </li>
                    <li>
                        Chulapa libreria - Colón 651 (Viedma, Rio Negro)
                    </li></ul>
                </p>
        </div>
        </div>