 <div class="sinopsis">
            <img src="images/historia.png" alt="historia">
            <div class="descripcion">

                <h2>Tomada por su historia</h2>
                <p>“Tomada por su historia” es una autobiografía de ficción y habla de los juegos a los que jugábamos o
                    jugamos y del juego de la palabra y la escritura.

                    ¿Esto es verdad o ficción? ¿ Imaginación o mentira?

                    ¿Les cuento o no les cuento?

                    A través de la primera persona Luciana, la protagonista, recuerda historias y habla de su familia,
                    de sus amigos y de aquellos juegos de la infancia: la botellita, la escondida, la mancha y tantos
                    otros.

                    ¿Verdad o consecuencia? Todos los relatos conducen al origen y a la infancia mientras otros
                    personajes nos cuentan su vida, cuentos, anécdotas, rumores.

                    ¿Se puede estar tomada por la propia historia o por la historia que se escribe?

                    ¿Cuándo comienza el juego?

                    ¿Cuándo termina?</p>
                    <p>Encontralo en la siguientes librerias:
                        <ul>
                            <li> <a href="https://www.facebook.com/quijotelibros.almacenliterario/?ref=page_internal" target="_blank">Quijote Libros Almacen Literario - Buenos Aires 483 (Viedma, Río Negro)</a>
                                </li>
                        <li> <a href="https://www.facebook.com/El-Limonero-Real-169904789792649/" target="_blank">El limonero real - Alsina 401 (Viedma, Río Negro)</a> </li>
                        <li>
                            Chulapa libreria - Colón 651 (Viedma, Rio Negro)
                        </li></ul>
                    </p>
                  <div class="compra">  <p>
                        Podes comprar la versión digital por los siguientes medios:
                    </p>
                    <ul>
                        <li> <a
                            href="https://www.amazon.com/gp/product/B0B1JNCNVL/ref=as_li_tl?ie=UTF8&creativeASIN=B0B1JNCNVL&linkCode=as2" target="_blank">Amazon</a></li>
                        <li>  <a href="https://books.apple.com/us/book/id6442817047" target="_blank">Apple</a>
                        </li>
                        <li>  
                  
                            <a href="https://play.google.com/store/books/details?id=aj5wEAAAQBAJ&gl=ar" target="_blank">Google</a></li>
                    </ul>
                   
                      
                </div>


            </div>

        </div>