<div class="marylena">
            <div class="fotitosup"><img src="images/perfil.png" alt="marylena cambarieri">
                <img src="images/rio.png" alt="patagones">
                <img src="images/esperanza.png" alt="angel">
                <img src="images/mafalda.png" alt="mafalda">
            </div>
            <div class="intro">
                <p>Soy Marylena Cambarieri, profesora en Castellano y Literatura y escritora.

                </p>
                <p>Nací en Viedma (Río Negro- Argentina) el 25/09/64.

                </p>
                <p>Publiqué: “Fragmentos del ángel”, Camarote Ediciones, Viedma, 2.006 (poesía); “Las otras ventanas”,
                    Macedonia
                    Ediciones, Morón ,Bs. As.,2.015 (microficción) y “Tomada por su historia”, Editorial Autores de
                    Argentina,
                    C.A.B.A., 2.022 (novela- libro e e-book). También cuentos, poemas y microrrelatos en antologías del
                    país y
                    del exterior.

                </p>

                <p>Participo en ferias del libro, encuentros de escritores, lecturas y otros eventos públicos en mi
                    comunidad y
                    en otros lugares.

                </p>
                <p> Parte de mi obra es inédita.

                </p>
                <p>Escribir es para mí un juego, una pasión, una conexión especial con mi interioridad y con el mundo y
                    los
                    demás.

                </p>
                <p>Leer es un placer y un acto de entrega y encuentro con la palabra.

                </p>
                <p> Publicar es una necesidad de expansión y comunicación. Que unas pocas o muchas personas puedan
                    disfrutar
                    de
                    mi escritura o que algo les deje para mí es una enorme satisfacción.

                </p>
                <p> Quienes compartimos el amor por los libros y la literatura sabemos que hay un hilo sutil a veces y
                    otras
                    veces más explícito que nos invita a unir voces y a crear y recrear...</p>
            </div>
            <div class="fotitosdown"><img src="images/perfil3.jpg" alt="marylena cambarieri">
                <img src="images/loberia.jpg" alt="mar">
                <img src="images/chiquita.jpg" alt="bebe">
                <img src="images/perfil1.jpg" alt="marylena">
            </div>
        </div>