 <h2>Novedades</h2><div class="noticias"> 
       <div class="noticia">
       <div class="notita"> <h3>"Tomada por su historia" a la venta</h3>
            <p>Salió a la venta mi último libro. Enterate de qué se trata y dónde podes comprarlo  <a href="historia">  acá</a>.</p></div>
            <div class="fotito" ><img src="images/historia.png" alt="historia"></div>
        </div>

        <div class="noticia">
           <div class="notita"> <a href="https://padlet.com/editorialviedma/o7g04j6d84dv0f8i?fbclid=IwAR2Pk98Ib7FWjJBMR4c5KbJXcBSPlUyAIm_5uzJLavIWY2JhnGSFK_Jon6Y" target="_blank"> <h3>Autoras de la comarca</h3>
            <p>Los invito a ver mi material publicado por la Editorial Municipal de Viedma</p></a>
            <div class="fotito"></div>
        </div>
        </div>
        <div class="noticia">
          <a href="https://www.noticiasnet.com.ar/noticias/2021/12/20/92885-la-fiesta-del-mar-tendra-su-primera-feria-del-libro?fbclid=IwAR2PZVqmy0dzVFmcERB0FGfCuBRFmIDBN6yoX72-gWUwvA7rMRHmVnQQ9E0" target="_blank">  <h3>La Fiesta del Mar tendrá su primera Feria del Libro</h3>
            <p>El gobierno de Viedma a través de la Editorial Municipal “El Mismo Río” convoca a autores, bibliotecas, libreros y editoriales de la Comarca a participar de la 1era Feria Municipal del Libro "Entre Olas".</p>
            <div class="fotito"></div></a>
        </div>
        <div class="noticia">
            <h3>Noticia</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur alias est laudantium neque recusandae quas illum reprehenderit hic minima accusantium cum, repellendus sint sit dignissimos. Architecto quaerat ea asperiores explicabo.</p>
        </div>
        <div class="noticia">
            <h3>Noticia</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur alias est laudantium neque recusandae quas illum reprehenderit hic minima accusantium cum, repellendus sint sit dignissimos. Architecto quaerat ea asperiores explicabo. Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, asperiores numquam cum odio modi dolores earum labore vel adipisci eum, voluptas error quo. Autem ipsum aperiam dolor consequuntur totam sequi! Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio voluptatum cum eligendi, aliquid vero totam amet eveniet, esse nostrum eaque, voluptatem delectus est. Reprehenderit atque facilis quam adipisci voluptatem dolorum.</p>
        </div>
        <div class="noticia">
            <h3>Noticia</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur alias est laudantium neque recusandae quas illum reprehenderit hic minima accusantium cum, repellendus sint sit dignissimos. Architecto quaerat ea asperiores explicabo. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque, corrupti ipsa. Doloremque consequuntur sit reiciendis mollitia repellendus! Iure magni quasi quas consequatur, dolorum quisquam ab aliquid similique id tenetur maxime!</p>
        </div>
        <div class="noticia">
            <h3>Noticia</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur alias est laudantium neque recusandae quas illum reprehenderit hic minima accusantium cum, repellendus sint sit dignissimos. Architecto quaerat ea asperiores explicabo.</p>
        </div>
        <div class="noticia">
            <h3>Noticia</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur alias est laudantium neque recusandae quas illum reprehenderit hic minima accusantium cum, repellendus sint sit dignissimos. Architecto quaerat ea asperiores explicabo.</p>
        </div>
        <div class="noticia">
            <h3>Noticia</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur alias est laudantium neque recusandae quas illum reprehenderit hic minima accusantium cum, repellendus sint sit dignissimos. Architecto quaerat ea asperiores explicabo.</p>
        </div></div>