 <h2>Libros</h2>
        <div class="libros">
            <div class="libro">
                <a href="fragmentos"> <img src="images/fragmentosdelangel.jpg" alt="poesia"> </a>
                <h3>Fragmentos del Ángel</h3>
            </div>
            <div class="libro"><a href="ventanas"><img  src="images/lasotrasventanas.jpg"
                    alt="microficcion"></a>
                    <h3>Las otras ventanas</h3>
        </div>
        <div class="libro"><a href="historia"> <img  src="images/historia.png" alt="novela"></a>
            <h3>Tomada por su historia</h3>
        </div>
        </div>
        <h2>Antologías</h2>
            <p>Encontrá mis creaciones publicadas en las siguientes antologías:</p>
            <div class="antologias">
              <div class="antologia">  <a href="https://revistabrevilla.blogspot.com/2022/05/antologia-de-microrrelatos-tigres-para.html?fbclid=IwAR1X-4xeNYvmeDIMVvm36reycyj1rfUbYBt7hyyz7ugqku0_YA4VU3mjHsw" target="_blank"><img src="images/antologia1.jpeg" alt="tigres">
            <h5>Tigres para Juan. Homenaje a Juan A. Epple</h5></a></div>
<div class="antologia"> <a href="https://issuu.com/alicy.mid/docs/libro_minificcion_alicy?fbclid=IwAR06_-Fil4ezkqnGPAQtAci7esR2aUdPN4sSeY0ipRaPZrtSmmTRhYCI-Z4" target="_blank"><img src="images/antologia2.jpeg" alt="antologia"><h5>Minificciones en Invierno</h5></a></div>
<div class="antologia">
    <a href="https://www.goodreads.com/book/show/54192161-brevirus" target="_blank"><img src="images/antologia3.jpg" alt="brevirus"><h5>Brevirus</h5></a>
</div>
<div class="antologia"><a href="https://www.goodreads.com/book/show/40193674-escritos-entre-mate-y-mate" target="_blanc"><img src="images/antologia4.jpg" alt="mates"><h5>Escritos entre mate y mate</h5></a></div>



            </div>
       
