<main class="holder">
        <div class="sinopsis">
            <img src="images/lasotrasventanas.jpg" alt="ventanas">
            <div class="descripcion">

                <h2>Las Otras Ventanas</h2>
                <p>La microficción es el momento que atrapamos y narramos antes de que se nos escape, la brevedad, la
                    mención o la insinuación de una historia, la síntesis de un relato, el relato mismo.

                    “Las otras ventanas” es mi libro de brevedades, historias, ficciones mínimas.

                    A veces abrimos ventanas hacia el interior o hacia el exterior. Unas pueden estar dentro de otras o
                    junto a otras.

                    Salimos a jugar a través de nuestras ventanas. Observamos desde ellas o somos parte de las historias
                    que contamos.

                    Personajes literarios, experiencias, imaginación y juego de palabras, sueños, emociones, encuentros
                    y todo lo que es posible para mí desde la intención de cultivar el género de lo breve.

                    Pocas palabras bastan a veces y la narración es ese instante escurridizo y travieso, profundo o
                    desconcertante, absurdo o divertido.</p>
           
                    <p>Encontralo en la siguientes librerias:
                        <ul>
                            <li> <a href="https://www.facebook.com/quijotelibros.almacenliterario/?ref=page_internal" target="_blank">Quijote Libros Almacen Literario - Buenos Aires 483 (Viedma, Río Negro)</a>
                                </li>
                        <li> <a href="https://www.facebook.com/El-Limonero-Real-169904789792649/" target="_blank">El limonero real - Alsina 401 (Viedma, Río Negro)</a> </li>
                        <li>
                            Chulapa libreria - Colón 651 (Viedma, Rio Negro)
                        </li></ul>
                    </p>     </div>
        </div>