.input{ 
    background-color: transparent;

}
.boton{
    background-color: rgba(155, 122, 114, 1);
    width: 20%;
    font-size: 14px;
    color: white;
    font-weight: bold;
    border: 5px solid rgba(153, 102, 102, .9);
    position: relative;
    left: 400px;
    cursor: pointer;
    transition: all .3s ease-in-out;
padding: 5px;}

label{
    font-weight: bold;
    color: rgb(113, 25, 6);
}

footer{
    margin-top: 50px;
}
.error{
    font-weight: bolder;
    font-size: 20px;
    margin-top: 20px;
}
.secciones{
    display: flex;
    justify-content: center;
}
.seccion{
    height: 100px;
    width: 300px;
    background-color: rgba(155, 122, 114, .5);
    font-size: 30px;
    color: rgba(113, 25, 6, .8);
    font-weight: bold;
    border: 5px solid rgba(153, 102, 102, 1);
    cursor: pointer;
padding: 5px;
margin: 50px;
transition: all .3s ease-in-out;}

.seccion:hover{
    transform: scale(1.2);
    color: rgba(113, 25, 6, .8);

}
.seccion:hover a{
    color: rgba(113, 25, 6, .8);
}
.link{
    color: rgba(113, 25, 6, .8);
    text-decoration: none;
}