
header h1{
    font-size: 60px;
}
.social a img{
display: none;
}

nav ul{
padding: 0;   
display: block;
text-align: center;
width: 100%;
}
nav ul.holder{
    display: flex ;
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
    max-height: 0;
    box-sizing: border-box;

}
nav.abierto ul.holder{
    max-height: 100vh;
}/* resolver esto */
#menuToggle{
    text-decoration: none;
    text-shadow: 1px -1px 9px rgba(52,0,0,0.6);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color:rgba(155, 122, 114, .9);
    padding: 0 15px 10px;
    color: white;
    font-weight: bold;
    position: relative;
    top: -16px;
    left: 41%;
display: inline-block;
}
.marylena{
    font-size: 18px;
}    
.fotitosup{
    display: none;
}
.fotitosdown{
    display: none; 
}
.libros{
    display: block;   
}
.libro img{
    opacity: 1;  
}
.antologia img{
    opacity: 1;
}
.sinopsis{
    display: block;
    text-align: center;   
}
.noticias{
    padding: 5px;
    display: block;
}
.noticia{
    width: 98%;   
}
.fotito img{
   display: none;
}
.notita{
    text-align: center;
}
.noticia a{
    text-decoration: none;
    color: black;
}
.articulos{
    display: block;
}
.articulo{
    width: 100%;
}

.formulario{
    display: block;
   width: 100%;
   box-sizing: border-box;

}
form input[type="submit"]{
    width: 20%;
    font-size: 14px;
    position: relative;
    left: 20px;
}
.holder{
   
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0;
    box-sizing: border-box;
}
footer{
    width: 100%;
}
.dropdown-content{
    display: none;
}
body{
    box-sizing: border-box ;
}